/* Css utilizado na Home */
.home {
    padding: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container-home {
    max-width: 744px;
}

.title-home {
    color: var(--primary-color);
    margin-bottom: 38px;
}

.auxiliary-text-home {
    color: var(--primary-color);
    margin-bottom: 38px;
}

.description-home {
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 66px;
}

.btn-home {
    padding: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: var(--body);
    color: var(--secondary-color);
    font-weight: 600;
    align-items: center;
    max-width: 350px;
    height: 66px;
    cursor: pointer;
    border: 3px solid var(--secondary-color);
    background: none;
    border-radius: 10px;
}

.btn-home:hover {
    transition: ease-in-out 1s;
    background-color: var(--tertiary-color);
    color: var(--light-color);
}

.img-home {
    max-width: 700px;
    height: auto;
}

@media screen and (max-width: 1064px) {
    .home {
        margin-top: 10rem;
        padding: 35px;
    }
    .text-container-home {
        width: auto;
    }
    .image-container-home {
        display: none;
    }

}

/* Css utilizado na sessão saiba mais */

.learn-more {
    display: flex;
    padding: 77px;
    margin-top: 140px;
    height: 950px;
    background-color: var(--secondary-color);
}

.container-learn-more {
    display: flex;
    align-items: center;
}

.image-container-learn-more {
    width: 50%;
}

.img-learn-more {
    max-width: 90%;
    height: auto;
}

.text-container-learn-more {
    padding: 25px;
    width: 50%;
}

.title-learn-more {
    color: var(--light-color);
    margin-bottom: 60px;

}

.description-learn-more {
    color: var(--light-color);
    letter-spacing: 14%;
    margin-bottom: 31px;
}

.btn-learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    max-width: 200px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    color: var(--secondary-color);
}

@media screen and (max-width: 1100px) {

    .learn-more {
        padding: 10px;
    }

    .container-learn-more {
        display: flex;
        flex-direction: column;
    }

    .img-learn-more {
        height: auto;
    }

    .text-container-learn-more {
        width: 100%;
    }

}

@media screen and (max-width: 699px) {
    .learn-more {
        height: auto;
    }
    .image-container-learn-more {
        display: none;
    }
}

/* Css utilizado na sessão sobre nós */

.about-us {
    text-align: center;
    margin-bottom: 200px;
}

.title-about-us {
    margin: 86px 0 55px;
    color: var(--primary-color);
}

.iframe-about-us {
    width: auto;
    height: auto;
    padding: 35px 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.img-about-us {
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 66px;
    max-width: 961px;
    height: 680px;
}

.description-about-us {
    color: var(--primary-color);
    margin-bottom: 86px;
}

@media screen and (max-width: 1100px) {
    .img-about-us {
        display: none;
    }
}


/* Css utilizado na sessão Prêmios */

.awards {
    min-height: 1068px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
}

.image-container {
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    margin-bottom: 1100px;
    width: auto;
}

.title-awards {
    color: var(--secondary-color);
    padding-top: 57px;
    text-align: center;
    max-width: 700px;
    height: auto;
    margin-bottom: 35px;
}

.small-title {
    font-weight: 400;
}

.timeline-awards {
    width: 100%;
    height: auto;
}

.text-container-awards {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.description-awards {
    color: var(--secondary-color);
    max-width: 274px;
}

#one {
    margin: -70px 150px 0;
}

#two {
    margin-top: 15px;
}

#tree {
    margin: -110px 100px 0;
}

@media screen and (max-width: 1462px) {
    #one {
        margin: -30px 120px 0;
    }

    #tree {
        margin: -70px 100px 0;
    }
}

@media screen and (max-width: 1100px) {
    .container-awards{
        display: flex;
    }

    .fish-orange {
        width: 300px;
        height: auto;
    }
    
    .timeline-awards {
        width: 160px;
        height: 700px;
    }

    .text-container-awards {
        display: flex;
        flex-direction: column;
    }

    #one{
        margin: 20px;
    }

    #two {
        margin: 20px;
    }
    
    #tree {
        margin: 20px;
    }
}

@media screen and (max-width: 585px) {
    .image-container {
        display: none;
    }

    .timeline-awards {
        height: 1000px;
    }

    #one{
        padding: 5px;
        margin: 0;
    }

    #two {
        padding: 5px;
        margin:0;
    }
    
    #tree {
        padding: 5px;
        margin: 0;
    }
}

/* Css utilizado na sessão contato */

.contact {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    padding: 77px;
    min-height: 1064px;
    background-image: url('/assets/images/background-contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-items-contact {
    display: flex;
    justify-content: space-between;
}

.text-container-contact {
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: var(--light-color);
}

.title-contact {
    margin-bottom: 25px;
}

.form-container-contact {
    width: 50%;
}

.form-contact {
    width: 100%;
    padding: 71px;
    margin-left: 20px;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.34);
    box-shadow: 20px;
    backdrop-filter: blur(10px);
    max-width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title-form-contact {
    font-weight: 400;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 42px;
}

label {
    color: var(--light-color);
    margin-bottom: 8px;
}

input, textarea {
    cursor: url('/assets/images/pointer.cur');
    color: var(--light-color);
    padding: 20px;
    background-color: #9cd5e6ac;
    height: 65px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.btn-contact {
    color: var(--light-color);
    cursor: pointer;
    border-radius: 15px;
    font-size: var(--subtitle);
    background-color: #9cd5e6ac;
    max-width: 110px;
    min-height: 57px;
}

@media screen and (max-width: 1100px) {
    .container-items-contact {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text-container-contact {
        text-align: center;
        margin-right: 0;
        width: 100%;
        margin-bottom: 35px;
    }

    .form-container-contact {
        width: 100%;
    }

    .form-contact {
        padding: 30px;
        margin-left: 0;
    }
}

/* Css utilizado na sessão de membros */

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 980px;
    background-color: var(--secondary-color);
}

.title-container {
    display: flex;
}

.title-members {
    padding: 20px 0 100px;
    color: var(--light-color);
    text-align: center;
}

.container-items-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container-members {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.cards {
    margin-right: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    border-radius: 20px;
    max-width: 500px;
    height: auto;
}

.image-container-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.description-cards {
    text-align: center;
    margin-bottom: 35px;
    min-height: 120px;
}

.btn-container-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.github-btn {
    border-radius: 15px;
    font-size: var(--body);
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 59px;
    background-color: var(--tertiary-color);
}

.linkedin-btn {
    border-radius: 15px;
    font-size: var(--body);
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 59px;
    background-color: var(--primary-color);
}

@media screen and (max-width: 1100px) {
    .cards-container-members {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        justify-content: center;
        
    }

    .cards {
        margin: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
    .cards {
        width: min-content;
        padding: 5px;
    }
    
}

/* Css utilizado na sessão do footer */

.footer {
    display: flex;
    justify-content: center;
}

.image-container-footer {
    position: absolute;
    z-index: -99;
}

.circles-footer {
    width: 100%;
}

.text-container-footer {
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 45px;
}

