/* Css utilizado na Home */
.home {
    padding: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container-home {
    max-width: 744px;
}

.title-home {
    color: var(--primary-color);
    margin-bottom: 38px;
}

.auxiliary-text-home {
    color: var(--primary-color);
    margin-bottom: 38px;
}

.description-home {
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 66px;
}

.btn-home {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: var(--body);
    color: var(--secondary-color);
    font-weight: 600;
    align-items: center;
    max-width: 350px;
    height: 66px;
    cursor: pointer;
    border: 3px solid var(--secondary-color);
    background: none;
    border-radius: 10px;
    
}

.img-home {
    max-width: 700px;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .home {
        margin-top: 10rem;
        padding: 35px;
    }
    .text-container-home {
        width: auto;
    }
    .image-container-home {
        display: none;
    }

}

/* Css utilizado na sessão saiba mais */

.learn-more {
    display: flex;
    padding: 77px;
    margin-top: 140px;
    height: 950px;
    background-color: var(--secondary-color);
}

.container-learn-more {
    display: flex;
    align-items: center;
}

.image-container-learn-more {
    width: 50%;
}

.img-learn-more {
    width: 90%;
}

.text-container-learn-more {
    padding: 25px;
    width: 50%;
}

.title-learn-more {
    color: var(--light-color);
    margin-bottom: 60px;

}

.description-learn-more {
    color: var(--light-color);
    letter-spacing: 14%;
    margin-bottom: 31px;
}

.btn-learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    max-width: 200px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    color: var(--secondary-color);
}

@media screen and (max-width: 1100px) {

    .learn-more {
        padding: 10px;
    }

    .container-learn-more {
        display: flex;
        flex-direction: column;
    }

    .img-learn-more {
        height: auto;
    }

    .text-container-learn-more {
        width: 100%;
    }

}

@media screen and (max-width: 699px) {
    .learn-more {
        height: auto;
    }
    .image-container-learn-more {
        display: none;
    }
}

/* Css utilizado na sessão sobre nós */

.about-us {
    text-align: center;
    margin-bottom: 200px;
}

.title-about-us {
    margin: 86px 0 55px;
    color: var(--primary-color);
}

.iframe-about-us {
    width: auto;
    height: auto;
    padding: 35px 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.img-about-us {
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 66px;
    max-width: 961px;
    height: 680px;
}

.description-about-us {
    color: var(--primary-color);
    margin-bottom: 86px;
}

@media screen and (max-width: 1100px) {
    .img-about-us {
        display: none;
    }
}


/* Css utilizado na sessão Prêmios */

.awards {
    min-height: 1068px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
}

.image-container {
    position: absolute;
    z-index: 1;
   left: 0;
   display: flex;
   margin-bottom: 1100px;
   width: auto;
}

.title-awards {
    color: var(--secondary-color);
    padding-top: 57px;
    text-align: center;
    max-width: 700px;
    height: auto;
    margin-bottom: 35px;
}

.small-title {
    font-weight: 400;
}

.timeline-awards {
    width: 100%;
    height: auto;
}

.text-container-awards {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.description-awards {
    color: var(--secondary-color);
    max-width: 274px;
}

#one {
    margin: -70px 150px 0;
}

#two {
    margin-top: 15px;
}

#tree {
    margin: -110px 100px 0;
}

@media screen and (max-width: 1462px) {
    #one {
        margin: -30px 120px 0;
    }

    #tree {
        margin: -70px 100px 0;
    }
}

@media screen and (max-width: 1100px) {
    .container-awards{
        display: flex;
    }

    .fish-orange {
        width: 300px;
        height: auto;
    }
    
    .timeline-awards {
        width: 160px;
        height: 700px;
    }

    .text-container-awards {
        display: flex;
        flex-direction: column;
    }

    #one{
        margin: 20px;
    }

    #two {
        margin: 20px;
    }
    
    #tree {
        margin: 20px;
    }
}

@media screen and (max-width: 585px) {
    .image-container {
        display: none;
    }

    .timeline-awards {
        height: 1000px;
    }

    #one{
        padding: 10px;
        margin: 0;
    }

    #two {
        padding: 10px;
        margin:0;
    }
    
    #tree {
        padding: 10px;
        margin: 0;
    }
}