@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    border: none;
}

h1 {
    font-size: var(--heading-xl);
}

h2 {
    font-size: var(--heading-md);
}

h3 {
    font-size: var(--subtitle);
}

p {
    font-size: var(--body);
}

.color-purple {
    color: var(--secondary-color);
}

.color-cian {
    color: var(--tertiary-color);
}

.bold {
    font-weight: 700;
}